#grid {
  display: grid;
  width: 1000px;              /* â­ ADD THIS */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 124px);
  gap: 10px;
}

#grid > div {
  background: green;
  color: white;
  font-size: 20px;
}

/* 1 */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

/* 2 */
#grid > div:nth-child(2) {
  grid-row: span 4;
}

/* 4 */
#grid > div:nth-child(4) {
  grid-column: span 2;
}

/* 5 */
#grid > div:nth-child(5) {
  grid-column: span 2;
}

/* 10 */
#grid > div:nth-child(10) {
  grid-column: span 3;
}
